<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/views/style.css"> --}}
    <title>Weather App</title>
</head>
{{!-- <style>
    body {
        background-color: lightgray;
    }
    button {
        padding: 10px;
    }
</style> --}}
<body>
    <form action="/weather" method="post">
        <input type="text" name="CityName">
        <button type="submit">Submit</button>
    </form>
</body>
</html>