<div class="container">
  <form action="/weather" method="POST">
    <label for="cityName">City Name</label>
    <input type="text" name="cityName" id="cityName">
    <input type="submit" value="Submit">
  </form>
  <p>{{weatherText}}</p>
</div>